[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"
# installing pytorch with pipenv is a hastle
# see https://github.com/pypa/pipenv/issues/4961 
# and https://github.com/pytorch/pytorch/blob/main/RELEASE.md#release-compatibility-matrix 

[[source]]
url = "https://download.pytorch.org/whl/cpu/"
verify_ssl = false
name = "pytorch"

[packages]
torch = {version = "*", index = "pytorch"}
wandb = "*"
pandas = "*"
numpy = "<2"
matplotlib = "*"
pyarrow = "*"
plotly = "*"
numba = "<=0.58.1"  # numba 0.59.0 caused an import error in ydata-profiling
torchinfo = "*"
omegaconf = "*"
lightning = "*"

[dev-packages]
jupyter = "*"
scikit-learn = "*"
rich = "*"
ydata-profiling = "*"
datapane = "*" # for creating quick html reports/dashboards
yapf = "*"
pylint = "*"
ruff = "*"

[requires]
python_version = "3.11.9"
## Conda Environment Definition for Cluster
### conda create -n py11 python=3.11.9 pytorch torchvision torchaudio pytorch-cuda=11.8 -c pytorch -c nvidia   
### conda install wandb lightning pandas numpy numba matplotlib pyarrow plotly -c conda-forge torchinfo
### conda install pytorch torchvision torchaudio pytorch-cuda=11.8 lightning wandb pandas numpy numba matplotlib pyarrow plotly torchinfo omegaconf -c pytorch -c nvidia -c conda-forge
